*.iml
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/
local.properties
.DS_Store

# Android Studio / IntelliJ files
.idea/
*.iws
*.ipr

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json
